body{
    margin: 0;
    padding: 0;
}

.main{
    margin-top: 90px;
}

h1{
    margin-top: 70px;
    margin-left: 200px;
}

ul{
    list-style: none;
    text-decoration: none;
}
ul li a{
    text-decoration: none;
    color: #000;
    font-size: 1.4em;
}
#main{
    margin-top: 150px;
    margin-left: 150px;
    font-weight: 500;
}
p{
    margin-left: 300px;
    font-size: 20px;
}
h3{
    margin-left: 300px;
    font-size: 1.4em;
}
i{
    color: gold;
}

h2{
    /* margin-left: 170px ;
    /* border: 1px solid black; */
    /* height: 150px;
    width: 900px; */ */
   
}

#support{
    margin: 0;
    padding: 0;
    margin-left:170px ;
    /* border: 1px solid black; */
    height: 140px;
    width: 70%;
    padding: 10px;
     box-shadow: 10px 10px 20px 20px whitesmoke inset;
     background-color: rgba(96.1,96.1 ,96.1 ,0.2 );
}
.help{
    margin-left: 20px;
    font-size: 1.8em;
}

.Sup{
    margin: 0;
    margin-right: 10px;
    font-size: 17px;
}

#con{
    margin-bottom:20px ;
    list-style: none;
    text-decoration: none;
    margin-left: 20px;
    color: #ff0000;
}

i{
    font-size: 1.5em;
}

.sec-1{
    float: left;
    display: block;
    margin-left: 15%;
    list-style: none;
    text-decoration: none;
    font-size: 1.3em;
    justify-content: space-evenly;
   }

   .sec-2{
    float: right;
    display: block;
    margin-right: 25%;
    list-style: none;
    text-decoration: none;
    font-size: 1.3em;
    justify-content: space-between;
   }

   .one{
    list-style: none;
    text-decoration:none ;
    color: #000;
   }

   .two{
    text-decoration: none;
    color: #000;
   }

   .footer{
    font-size: 17px;
    text-align: center;
    display: flex;
    color: rgba( 96.1,96.1 ,98.1 , 0.3);
    justify-content: space-evenly;
}

#icon{
    color: rgba( 96.1,96.1 ,98.1 , 0.3);
    margin-left: 40px;
    margin-top: 10px;
    gap: 5px;
    font-size: 1.4em;
}

.main-head{
    font-size: 2.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: gold;
}