body{
    margin: 0;
    padding: 0;
}

ul{
    text-align: center;
    list-style: none;
}

li, a{
    text-decoration: none;
    margin: 3%;
}

#BSG{
    float: left;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.8em;
    color:black;
}

#log{
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 17px;
    border: 1px solid black;
    width: 92px;
    height: 30px;
    padding-top: 10px;
    border-radius: 40px;
    background-color: yellow;
}
i{
    color: gold;
}


.get-rich{
    margin: 5%;
    background-repeat: no-repeat;
    border: 1px solid white;
}
#money{
    width: 400px;
    height: 400px;
}
img{
    background-color: white;
    margin-left: 8%;
}

p{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    text-align: center;
}

.left-row{
    float: left;
    margin-left: 25%;
}

.right-row{
    float: right;
    margin-right: 22%;
}
.left-2{
    float: left;
    margin-left: 25%;
}


.right-2{
    float: right;
    margin-right: 25%;
}

.left-3{
    float: left;
    margin-left: 25%;
}

.right-3{
    float: right;
    margin-right: 25%;
}

.lock{
    width: 300px;
    height: 300px;
    margin-left: 40%;
}

h3{
    font-size: 2.6em;
    text-align: center;
    font-weight: 200;
}

.footer{
    text-align: center;
    display: flex;
    color: rgba( 96.1,96.1 ,98.1 , 0.3);
}

 #icon{
    color: rgba( 96.1,96.1 ,98.1 , 0.3);
    margin-left: 40px;
    margin-top: 40px;
    gap: 5px;
    font-size: 1.4em;
}